body {
  font-family: 'Roboto Mono', monospace;
}
body.view {
  height: 100%;
}

h6 {
  line-height: 1.7;
}


.orange{
  background-color: #F9A45A;
}

p, ul li{
font-family: 'Roboto Mono', monospace;
} 

.card img {
  height: 300px;
}