body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 17px;
}
body.view {
  height: 100%;
}

h6 {
  line-height: 1.7;
}


.orange {
  background-color: #F9A45A;
}

.card img {
  height: 300px;
}