body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 17px;
}
body.view {
  height: 100%;
}

h6 {
  line-height: 1.7;
}


.orange {
  background-color: #F9A45A;
}

.card img {
  height: 300px;
}

.img-cover{
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




